*{
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    color: #777;
}

.container{
    width: 100%;
    height: auto;
    /* background-color: blue; */
    
    justify-content: center;
    align-items: center;
    
    
}
body{
  
  height: auto;
}
header{
    width: 100%;
    height: auto;
    /* background-color: aqua; */
}
.banner img{
  width: 100%;
  height: 400px;
  
}
nav{
    height:55px;
    list-style: none;
    background-color: #53228b;
    overflow: hidden;
    text-align: center;
  
}

li{
    display: inline-block;
    padding-top: 5px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    transition: 1s;
    background-color: #2aa7a7;
    border-radius: 3px;
  }

  .caixa1{
    width: 80%;
    background-color: green;
    display: flex;
    justify-content: center;
  }

  .conteudo{
    width: 100%;
    height: 500px;
    display:flex;
    /* background-color: black; */

  }


  .aconteceu{
    width:100%;
    
   
     
    background-color: blueviolet;
    
   
  }

  .dicas{
    width:77%;
    height: 400px;
    background-color: red;
    display: flex;
    margin-top: -305px;
    
    
    
    
    
    
   
}

.dica1{
  /* background-color: aquamarine; */
  height: 380px;
  width: 300px;
  margin-top: 10px;
  margin-left:10px;
  
}

.dica1 img{
  width: 100%;
  height: 200px;
  padding: 2px;
  border-radius: 15px;
  background-color: #53228b;
}
.textodicas{
 padding: 5px;
 

}
h3{
  color: #53228b;
}
.oqueprocura{
    width: 375px;
    height: 805px;
    background-color:rgb(235, 241, 235);
    margin-top: 1px;
    margin-right: 5px;
    border-radius: 10px;
    padding-left: 5px;
    margin-left: 80%;
    margin-top:-500px;
 
}
.oqueprocura1{
  display: flex;
  
    width: 100%;
    height: 150px;
    /* background-color: #777; */
}
.textooqueprocura{
  width: 160px;
  height: 150px;
 
  font-size: 15px;
 /* background-color: red; */
 padding: 12px 10px 10px 5px;
}
.oqueprocuraimg{
  width: 150px;
  height:140px;
  background-color: #53228b;
  border-radius: 10px;
  margin-top: 15px;
 
}
.oqueprocuraimg img{
  width: 100%;
  height:130px;
  border-radius: 5px;
}
footer{
  background-color: black;
  height: 50px;
}
@media screen ( max-width:999px){
  con
}

