*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    color: #777;
}

.container{
    width: 100%;
    height: auto;
    /* background-color: blue; */
    
    justify-content: center;
    align-items: center;
    
    
}

header{
    width: 100%;
    height: auto;
    /* background-color: aqua; */
    
}

.banner img{
  width: 100%;
  height: 400px;;
  
}
nav{
    height:55px;
    list-style: none;
    background-color: #53228b;
    overflow: hidden;
    text-align: center;
    margin-top: -10px;
}

li{
    display: inline-block;
    padding-top: 5px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
  }

  li a:hover {
    transition: 1s;
    background-color: #2aa7a7;
    border-radius: 3px;
    
  }

  .caixa1{
    width: 77%;
    background-color: green;
    display: flex;
    justify-content: center;
  }

  .conteudo{
    width: 100%;
    height: 500px;
    display:flex;
    /* background-color: black; */

  }


  .aconteceu{
    width:100%;
    
   
     
    background-color: blueviolet;
    
   
  }

  .dicas{
    width:77%;
    height: 400px;
    /* background-color: red; */
    display: flex;
    margin-top: -305px;
    
    
    
    
    
    
   
}

.dica1{
  /* background-color: aquamarine; */
  height: 385px;
  width: 300px;
  margin-top: 10px;
  margin-left:10px;
  text-align: center;
}

.dica1 img{
  width: 98%;
  height: 200px;
  padding: 2px;
  border-radius: 15px;
  background-color: #53228b;
  text-align: center;
}
.textodicas{
 padding: 5px;
 

}
h3{
  color: #53228b;
}
.oqueprocura{
    width: 355px;
    height: 805px;
    background-color:rgb(235, 241, 235);
    margin-top: 1px;
    margin-right: 5px;
    border-radius: 10px;
    padding-left: 5px;
    margin-left: 77.4%;
    margin-top:-500px;
 
}
.oqueprocura1{
  display: flex;
  
    width: 100%;
    height: 150px;
    /* background-color: #777; */
}
.textooqueprocura{
  width: 90%;
  height: 150px;
 
  font-size: 15px;
 /* background-color: red; */
 padding: 12px 10px 10px 5px;
}
.oqueprocuraimg{
  width: 150px;
  height:140px;
  background-color: #53228b;
  border-radius: 10px;
  margin-top: 15px;
 
}
.oqueprocuraimg img{
  width: 100%;
  height:130px;
  border-radius: 5px;
}
footer{
  background-color: black;
  height: 50px;
}
@media screen and ( max-width:999px){
  .container{
    width: 100%;
    height: auto;
    display: block;
    
  }
  .banner{
    display: none;
    
  
  }
 nav{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
 
  z-index: 1;
 }
  ul{
    display: none;
   }
.caixa1{
  width: 100%;
  height: auto;
  display: block;
}
.conteudo{
  height: auto;
  
}
.aconteceu{
  height: 400px;
  
}
h2{
  padding-top: 5px;
}
.oqueprocura{
  width: 100%;
  height: auto;
  display:block;
  margin: auto;
  
 }
   .oqueprocura1 {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 15px;
    
   
    /* background-color: red; */
    
    
   }
   
   .oqueprocuraimg {
    display: block;
    margin: auto;
    height: auto;
    width: 85%;

   }


   .textooqueprocura{
    /* background-color: green; */
    width: 100%;
  
   }
  

  .dicas {
    display: block;
    margin: auto;
    height: auto;
    width: 100%;
    position: relative;
    top: 15px;
    /* background-color: #2aa7a7; */
    
  }
  .dica1{
    display: block;
    margin: auto;
    
  
    
    
    
  }
  footer{
    position: relative;
    top:500px;
    display: block;
    height:80px;
  }
 
}

